{:tasks
 {:requires ([babashka.process :as p])
  dev {:task (do (p/process {:inherit  true
                             :shutdown p/destroy-tree}
                            "./node_modules/.bin/shadow-cljs watch app")
                 (apply shell "clojure -M:run" *command-line-args*))}
  cljs:watch {:task (shell "./node_modules/.bin/shadow-cljs watch app")}
  cljs:release {:task (shell "./node_modules/.bin/shadow-cljs release app")}
  export {:task (do (shell "./node_modules/.bin/shadow-cljs release app")
                    (shell "clojure -M:export"))}
  test {:task (shell "clojure -M:test")}}}
